<center>
<img src="../../img/ods_stickers.jpg">
## Открытый курс по машинному обучению
<center>
Автор материала: Юрий Кашницкий, программист-исследователь Mail.Ru Group <br> 

Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

# <center>Домашнее задание № 1 (демо).<br> Анализ данных по доходу населения UCI Adult</center>

**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным репозитория UCI [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) (качать данные не надо – они уже есть в репозитории). Для отправки решений используйте [онлайн-форму](https://docs.google.com/forms/d/1xAzU-5N6oEeR4UG8G44V6XL-Kbr4WYcPBG45Kijge2Y).**

Уникальные значения признаков (больше информации по ссылке выше):
- age: continuous.
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- fnlwgt: continuous.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- education-num: continuous.
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- sex: Female, Male.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: continuous.
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- salary: >50K,<=50K

In [108]:
import pandas as pd
import numpy as np

In [109]:
data = pd.read_csv('adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Сколько мужчин и женщин (признак *sex*) представлено в этом наборе данных?**

In [110]:
#len(data[data['sex']=='Female']),len(data[data['sex']=='Male'])
data['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

**2. Каков средний возраст (признак *age*) женщин?**

In [15]:
data[data['sex']=='Female']['age'].mean()

36.85823043357163

**3. Какова доля граждан Германии (признак *native-country*)?**

In [19]:
len(data[data['native-country']=='Germany'])/len(data)*100

0.42074874850281013

**4-5. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год? **

In [95]:
data[data['salary']>'<=50k']['age'].mean(),data[data['salary']>'<=50k']['age'].std(),\
data[data['salary']<'<=50k']['age'].mean(),data[data['salary']<'<=50k']['age'].std()


data.groupby(["salary"])["age"].agg([np.mean, np.std])

             mean        std
salary
<=50K   36.783738  14.020088
>50K    44.249841  10.519028

**6. Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [111]:
#data[(data['salary']>'<=50k')&(data['education']=='HS-grad')]

data.loc[data['salary'] == '>50K', 'education'].unique()

array(['HS-grad', 'Masters', 'Bachelors', 'Some-college', 'Assoc-voc',
       'Doctorate', 'Prof-school', 'Assoc-acdm', '7th-8th', '12th',
       '10th', '11th', '9th', '5th-6th', '1st-4th'], dtype=object)

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Amer-Indian-Eskimo*.**

In [114]:
for (race, sex), sub_df in data.groupby(['race', 'sex']):
    print("Race: {0}, sex: {1}".format(race, sex))
    print(sub_df['age'].describe())

Race: Amer-Indian-Eskimo, sex: Female
count    119.000000
mean      37.117647
std       13.114991
min       17.000000
25%       27.000000
50%       36.000000
75%       46.000000
max       80.000000
Name: age, dtype: float64
Race: Amer-Indian-Eskimo, sex: Male
count    192.000000
mean      37.208333
std       12.049563
min       17.000000
25%       28.000000
50%       35.000000
75%       45.000000
max       82.000000
Name: age, dtype: float64
Race: Asian-Pac-Islander, sex: Female
count    346.000000
mean      35.089595
std       12.300845
min       17.000000
25%       25.000000
50%       33.000000
75%       43.750000
max       75.000000
Name: age, dtype: float64
Race: Asian-Pac-Islander, sex: Male
count    693.000000
mean      39.073593
std       12.883944
min       18.000000
25%       29.000000
50%       37.000000
75%       46.000000
max       90.000000
Name: age, dtype: float64
Race: Black, sex: Female
count    1555.000000
mean       37.854019
std        12.637197
min        17.000000
25%        28.000000
50%        37.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
Race: Black, sex: Male
count    1569.000000
mean       37.682600
std        12.882612
min        17.000000
25%        27.000000
50%        36.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
Race: Other, sex: Female
count    109.000000
mean      31.678899
std       11.631599
min       17.000000
25%       23.000000
50%       29.000000
75%       39.000000
max       74.000000
Name: age, dtype: float64
Race: Other, sex: Male
count    162.000000
mean      34.654321
std       11.355531
min       17.000000
25%       26.000000
50%       32.000000
75%       42.000000
max       77.000000
Name: age, dtype: float64
Race: White, sex: Female
count    8642.000000
mean       36.811618
std        14.329093
min        17.000000
25%        25.000000
50%        35.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
Race: White, sex: Male
count    19174.000000
mean        39.652498
std         13.436029
min         17.000000
25%         29.000000
50%         38.000000
75%         49.000000
max         90.000000
Name: age, dtype: float64

In [112]:
data[(data['race']=='Amer-Indian-Eskimo')&(data['sex']=='Male')]['age'].max()

82

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [107]:
rich = data[data["salary"] == ">50K"]

rich_married = len(rich[rich["marital-status"].str.startswith("Married")])#.shape[0]
rich_single = len(rich) - rich_married

if rich_married > rich_single:
    print("Married")
else: 
    print("Single")

Married

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [86]:
tmp=data[data['hours-per-week']==data['hours-per-week'].max()]

data['hours-per-week'].max(),len(tmp), len(tmp[tmp['salary']>'<=50k'])/len(tmp['salary'])

(99, 85, 0.29411764705882354)

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [116]:
for (country, salary), sub_df in data.groupby(['native-country', 'salary']):
    print(country, salary,sub_df['hours-per-week'].mean())

? <=50K 40.16475972540046
? >50K 45.54794520547945
Cambodia <=50K 41.416666666666664
Cambodia >50K 40.0
Canada <=50K 37.91463414634146
Canada >50K 45.64102564102564
China <=50K 37.38181818181818
China >50K 38.9
Columbia <=50K 38.68421052631579
Columbia >50K 50.0
Cuba <=50K 37.98571428571429
Cuba >50K 42.44
Dominican-Republic <=50K 42.338235294117645
Dominican-Republic >50K 47.0
Ecuador <=50K 38.041666666666664
Ecuador >50K 48.75
El-Salvador <=50K 36.03092783505155
El-Salvador >50K 45.0
England <=50K 40.483333333333334
England >50K 44.53333333333333
France <=50K 41.05882352941177
France >50K 50.75
Germany <=50K 39.13978494623656
Germany >50K 44.97727272727273
Greece <=50K 41.80952380952381
Greece >50K 50.625
Guatemala <=50K 39.36065573770492
Guatemala >50K 36.666666666666664
Haiti <=50K 36.325
Haiti >50K 42.75
Holand-Netherlands <=50K 40.0
Honduras <=50K 34.333333333333336
Honduras >50K 60.0
Hong <=50K 39.142857142857146
Hong >50K 45.0
Hungary <=50K 31.3
Hungary >50K 50.0
India <=50K 38.233333333333334
India >50K 46.475
Iran <=50K 41.44
Iran >50K 47.5
Ireland <=50K 40.94736842105263
Ireland >50K 48.0
Italy <=50K 39.625
Italy >50K 45.4
Jamaica <=50K 38.23943661971831
Jamaica >50K 41.1
Japan <=50K 41.0
Japan >50K 47.958333333333336
Laos <=50K 40.375
Laos >50K 40.0
Mexico <=50K 40.00327868852459
Mexico >50K 46.57575757575758
Nicaragua <=50K 36.09375
Nicaragua >50K 37.5
Outlying-US(Guam-USVI-etc) <=50K 41.857142857142854
Peru <=50K 35.06896551724138
Peru >50K 40.0
Philippines <=50K 38.065693430656935
Philippines >50K 43.032786885245905
Poland <=50K 38.166666666666664
Poland >50K 39.0
Portugal <=50K 41.93939393939394
Portugal >50K 41.5
Puerto-Rico <=50K 38.470588235294116
Puerto-Rico >50K 39.416666666666664
Scotland <=50K 39.44444444444444
Scotland >50K 46.666666666666664
South <=50K 40.15625
South >50K 51.4375
Taiwan <=50K 33.774193548387096
Taiwan >50K 46.8
Thailand <=50K 42.86666666666667
Thailand >50K 58.333333333333336
Trinadad&Tobago <=50K 37.05882352941177
Trinadad&Tobago >50K 40.0
United-States <=50K 38.79912723305605
United-States >50K 45.50536884674383
Vietnam <=50K 37.193548387096776
Vietnam >50K 39.2
Yugoslavia <=50K 41.6
Yugoslavia >50K 49.5

In [117]:
data[(data['salary']>'<=50k')&(data['native-country']=='Japan')]['hours-per-week'].mean(),\
data[(data['salary']<'<=50k')&(data['native-country']=='Japan')]['hours-per-week'].mean()

(47.958333333333336, 41.0)